/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: rgb(214, 219, 214) 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: rgb(83, 82, 82) 0 0 5px;
  }
}